.headerr{
    height: 108px;
}

.title{
	width : 100%;
	height: 100px;
	text-align: center;

}

.graphs{


	height: 500px; 


}

.col{
	font-size: 14px;
	width: 100%;
	height: 100%;

}

.col1{
	width: 50%;
	height: 400px;
	float: left;

}


.col2{

	width: 50%;
	height: 400px;
	float: left;


}


.row1{

	display: block;
	height: 200px;


}

.navv:hover{
    
    color: black;
    background-color: grey;
    
}


.tbl{
	width: 100%;



}


.prr{

	width: 30%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height: 400px;
	font-size: 18px;

}



.wrapper{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;


}


.match_table{
	
}



.navv{
    color: #333333;
    display: inline-block;
    font-size: 25px;
    padding-right: 45px;
    padding-left: 45px;
    padding-bottom:10px;
    padding-top: 10px;
    margin-right: 60px;
    margin-top: 20px;
    /* margin-bottom: 1000px; */
}


.logo{
    display: inline-block;
    /* margin-top: 20px; */

    
}

.home{
    color: #333333;
    display: inline-block;
    font-size: 25px;
    padding-right: 25px;
    padding-bottom:10px;
    padding-left: 0px;
    margin-left: 0px;
    margin-top:20px;
    margin-right: 60px;

}


.spanHover{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 10px;
}

.spanHover:hover{
    background-color: grey
}


.bodyStyle{
    background-color: black;
    height: 700px;
}


.footer{
    margin-top: 0px;
    background-color: white;
    text-align: middle;
    font-size: 20px;
    color: white;
    height: 100px;

}

.try{
    background-color: #1c1b1b;
    height: 200px;
    font-size: 20px;
    color: white;
}


.ser:nth-child(even) {

	background-color:#f2f2f2;


}






table,td, th{
	
	border: 2px solid #ddd;
}

table{
	width: 100%;
}
th{
       background-color: hsl(0, 100%, 30%);
       color: white;	
       text-align: center;
       height : 50px;
}
